@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

a:hover{
    color: #8FB68B;
}

a{
    text-decoration: none;
    font-family: Poppins;
    font-size: .8rem;
    color: #447056;
}

body{
    height: 100vh;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    overflow-y: hidden ;
    overflow-x: hidden ;
}
.wrap-login100-form-btn {
    margin-top: 20px!important;
    width: 75%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.form-group{
    margin-top: 5px;
}
.col-form-label{
    color: grey;
    font-family: Poppins;
    font-size: .8rem;
}
.textinput{
    text-align:center;
    border: 0px grey solid;
    border-radius: 25px;
    width: 75%;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    font-family: Poppins;
    height: 33px;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #8FB68B;
    top: 0;
}
.login100-form-btn:hover{
    cursor: pointer;
    background-color: #447056;
}

.login100-form-btn {
    font-family: Poppins;
    font-size: px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 33px;
}

button {
    outline: none!important;
    border: none;
    background: 0 0;
}

.img-sism{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    margin-top: -55px;

}
.limiter{
    width: 100%;
    margin: 0 auto;
}

.container-login100{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('../img/fundo_verde.png');
}
.wrap-login100 {
    width: 280px;
    background: rgba(256, 256, 256, 0.8);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}
.footer-copyright{
    margin-top: 30px;
    text-decoration: none;
    font-family: Poppins;
    font-size: .8rem;
    color: #447056;
    font-size: 0.6rem;
}
.footer-copyright a{
    text-decoration: none;
    font-family: Poppins;
    font-size: .8rem;
    color: #447056;
    font-size: 0.7rem;
}